
.vector_cache/glove.6B.100d.txt
.vector_cache/glove.6B.200d.txt
.vector_cache/glove.6B.300d.txt
.vector_cache/glove.6B.300d.txt.pt
.vector_cache/glove.6B.50d.txt
.vector_cache/glove.6B.50d.txt.pt
.vector_cache/glove.6B.zip
*.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
*.pyc
weights/model-ppl_141.5.pt
weights/model-ppl_149.4.pt
weights/model-ppl_151.9.pt
weights/model-ppl_153.9.pt
weights/model-ppl_168.pt
weights/model.pt
wiki.test.raw
vocab.pt
model.pt
